extends layout

block content
	include modals/reset-password

block scripts
	script(src='/javascripts/jquery.min.js')
	script(src='/javascripts/jquery.form.min.js')
	script(src='/javascripts/bootstrap.min.js')
	script(src='/javascripts/views/reset.js')
	script(src='/javascripts/form-validators/resetValidator.js')